<h2>Hi, Boss!</h2> 
<div class="row">
  <div class="col s4">
    <h4> Create A New User </h4>
    <%= link_to image_tag("new_user.png"), new_user_path %>
  </div>
  <div class="col s4">
    <h4> Employee List </h4>
    <%= link_to image_tag("employees_icon.png", height: "250"), users_path %>
  </div>
  <div class="col s4">
    <h4>Update An Item's Price</h4>
    <%= link_to image_tag("dollar_sign.jpg", height: "250"), new_item_price_path %>
  </div>
</div>