<h2>Welcome To A &amp; M Bread Express</h2>
<br />
<div>
  <p>
    Bread Express is the smallest, but absolutely best, online bakery 
    we know of.  You should order lots of our products now.  They are
    delicious, nutritious and amazing in every way.  Why are you still 
    reading this?  You should be ordering bread right now.  Stop reading 
    and start ordering.  (Still reading? What are you waiting for?)
  </p>
  <div class="small-1 columns">
    &nbsp;
  </div>
  <div class="panel clearfix">
    <% if logged_in? && current_user.role?(:admin) %>
      <h3>Admins:</h3>
      <p>
        If ou want to create a new user account, <%= link_to "click here to create a user", register_path %>
      </p>
    <% else %>
    <h3>Customers:</h3>
      <p>
        If you are a registered user, click the login button in the top right corner. If you want 
        to create an account with us, <%= link_to "please click to register", signup_path %>.
      </p>
    <% end %>
  </div>
  <br />
</div>


