<div class="row">
  <div class="small-7 columns">
    <h2><em>About A &amp; M Bread Express</em></h2>

    <p>
    	Our operation is meant to make the process of ordering and delivering our goods to your doorstep as streamlined as possible. Our online web application coupled with our dedicated staff guarantee a quick and easy process.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>