<p>
  <b>Description</b>: <%= @item.description %>
</p>

<p>
  <b>Price</b>: <%= number_to_currency(@item.current_price, :unit => "$") %>
</p>

<p>
  <b>Number Per Order</b>: <%= @item.units_per_item %>
</p>

<p>
  <b>Total weight</b>: <%= "#{@item.weight} lbs." %>
</p>
