<h3><%= @item.name %></h3>
<%= render partial: "item_details" %>

<% if !logged_in? || (logged_in? && current_user.role?(:customer)) %>
  <h4> Similar Items </h4>
  <%= render partial: "similar_items" %>
<% end %>

<% if logged_in? && current_user.role?(:admin) %>
  <h4> Price History </h4>
  <%= render partial: "price_history" %>
<% end %>


